# Compiled output
/dist
/node_modules

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS and Editor files
.DS_Store
.project
.settings
.vscode/
.idea/

# Environment files
.env
.env.*
!.env.example

# Temporary / test files
tsc*.txt
output.txt
api.zip
.agents/
skills-lock.json
